@{
    ViewBag.Title = "Administration";
}
<h2>@ViewBag.Title</h2>

<br />  

<div class="btn-group-sm btn-toolbar" id="selection" >
    <p>
        <button type="button" class="btn btn-sm btn-primary" onclick="afficher_choix('Utilisateurs');afficherUtilisateurs();">Utilisateurs</button>
        <button type="button" class="btn btn-sm btn-primary" onclick="afficher_choix('Ressources');afficherRessources();">Ressources</button>
        <button type="button" class="btn btn-sm btn-primary" onclick="afficher_choix('Réservations');afficherReservations();">Réservations</button>
        <button type="button" class="btn btn-sm btn-primary" onclick="afficher_choix('Lignes de réservation');afficherLignesReservations();">Lignes de réservation</button>
        <button type="button" class="btn btn-sm btn-primary" onclick="afficher_choix('Profils');afficherProfils();">Profils</button>
        <button type="button" class="btn btn-sm btn-primary" onclick="afficher_choix('Fonctionnalites');afficherFonctionnalites();">Fonctionnalites</button>
    </p>
</div>

<div id="results"></div>

<div id="section_choisie" class="alert alert-info" role="alert">
    Sélectionnez une partie de l'application à administrer.
</div>

<script type="text/javascript">

    function cacher() {
        var results = document.getElementById("results");
        for (var i = 0; i < results.length; i++) {
            results[i].style.display = "none";
        };
        document.getElementById('choisir_categorie').style.display = "none";
    }

    function afficher_choix(choix) {
        document.getElementById('section_choisie').innerHTML = "Vous administrez actuellement les <strong>" + choix + "</strong>. <a href='#selection'>Retour à la sélection.</a>";
        document.getElementById('section_choisie').style.display = "block";
    }

    function afficherUtilisateurs() {
         $.ajax({
             // Home ==> Contrôleur qui va chercher dans la fonction Create dans le contrôleur Ligne_resa
             url: "/Utilisateurs/Index",
             type: 'GET',
             // data représente les données retournées par le serveur
             success: function (data) {

                 $('#results').html(data);
                 //$('#formulaire').append(data);
             }
         })
    }

     function afficherRessources() {

         $.ajax({
             // Home ==> Contrôleur qui va chercher dans la fonction Create dans le contrôleur Ligne_resa
             url: "/Ressources/Index",
             type: 'GET',
             // data représente les données retournées par le serveur
             success: function (data) {

                 $('#results').html(data);
                 //$('#formulaire').append(data);
             }
         })
    }

     function afficherReservations() {

         $.ajax({
             // Home ==> Contrôleur qui va chercher dans la fonction Create dans le contrôleur Ligne_resa
             url: "/Reservations/Index",
             type: 'GET',
             // data représente les données retournées par le serveur
             success: function (data) {

                 $('#results').html(data);
                 //$('#formulaire').append(data);
             }
         })
     }

     function afficherLignesReservations() {

         $.ajax({
             // Home ==> Contrôleur qui va chercher dans la fonction Create dans le contrôleur Ligne_resa
             url: "/Ligne_resa/Index",
             type: 'GET',
             // data représente les données retournées par le serveur
             success: function (data) {

                 $('#results').html(data);
                 //$('#formulaire').append(data);
             }
         })

         function afficherProfils() {

             $.ajax({
                 // Home ==> Contrôleur qui va chercher dans la fonction Create dans le contrôleur Ligne_resa
                 url: "/Profils/Index",
                 type: 'GET',
                 // data représente les données retournées par le serveur
                 success: function (data) {

                     $('#results').html(data);
                     //$('#formulaire').append(data);
                 }
             })
         }

         function afficherFonctionnalites() {

             $.ajax({
                 // Home ==> Contrôleur qui va chercher dans la fonction Create dans le contrôleur Ligne_resa
                 url: "/Fonctionnalites/Index",
                 type: 'GET',
                 // data représente les données retournées par le serveur
                 success: function (data) {

                     $('#results').html(data);
                     //$('#formulaire').append(data);
                 }
             })
         }
     }
</script>
