@{
    ViewBag.Title = "Accueil";
}

<div class="jumbotron">
    <h1>Bienvenue</h1>
    <p class="lead">Bienvenue sur votre système de réservation.</p>
    <p>Pour vous connecter, cliquez sur l'option "Se connecter"...</p>
    <input type="text" placeholder="Username" id="txtLogin" />
    <input type="password" placeholder="Password" id="txtPassword" />
    <input type="button" value="valider" id="btnValue" onclick="login()" />
<!--    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Se connecter &raquo;</a></p> -->
</div>

<!--<div class="row">
    <div class="col-md-4">
        <h2>Bienvenue sur votre système de réservation</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div> 
</div> -->

<!-- Script appelé par le bouton -->
<script type="text/javascript">
    function login()
    {
        var monLogin = $('#txtLogin').val();
        var monPass = $('#txtPassword').val();

        $.ajax({
            // Home ==> Contrôleur qui va chercher dans la fonction Login
            url: "/Home/Login",
            // On rajoute un & avant chaque nouveau paramètre sauf le premier
            data: "pLogin=" + monLogin + "&pPassword=" + monPass,
            type: 'POST',
            // data représente les données retournées par le serveur
            success: function (data)
            {
                //alert(data); // Affiche l'int de retour de la fonction
                if (data == 1) {
                    window.location.href = "/Home/Contact";
                }
                else {
                    alert("BIEN JOUE NILS !")
                }
            }
        })
    }
</script>