<!-- Script qui affiche le formulaire de connexion-->
<script type="text/javascript">

    $(document).ready(function () {
        $("#ident").hide();
        $("#ident").fadeIn(4000);
    });

</script>

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("Gestion des réservations", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        </div>
    </div>
</div>

<div class="jumbotron">
    <h1 align="center">Bienvenue</h1>
<!--    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Se connecter &raquo;</a></p> -->
</div>

<div id="ident" align="center" class="col-xs-6 col-sm-12" style=" border:2px solid black; border-radius: 5px;">
    <form class="form-group">
        <fieldset>
            <legend>Authentification</legend>
            <p>Identifiant :  <input type="text" placeholder=" You@example.com" id="txtLogin" /></p>
            <p>Mot de passe :  <input type="password" placeholder=" Password" id="txtPassword" /></p>
        </fieldset>
        <div>
            <input type="button" class="btn btn-default btn-lg btn-block" value="Valider" id="btnValue" onclick="login()" />
        </div>
    </form>
</div>

<!-- Script appelé par le bouton -->
<script type="text/javascript">
    function login()
    {
        var monLogin = $('#txtLogin').val();
        var monPass = $('#txtPassword').val();

        $.ajax({
            // Home ==> Contrôleur qui va chercher dans la fonction Login
            url: "/Home/Login",
            // On rajoute un & avant chaque nouveau paramètre sauf le premier
            data: "pLogin=" + monLogin + "&pPassword=" + monPass,
            type: 'POST',
            // data représente les données retournées par le serveur
            success: function (data)
            {
                //alert(data); // Affiche l'int de retour de la fonction
                if (data == 1) {
                    window.location.href = "/Home/Reservation";
                }
                else {
                    alert("Erreur dans le nom d'utilisateur et le mot de passe !")
                }
            }
        })
    }
</script>



