@{
    ViewBag.Title = "Gestion des réservations";
}
<h2>@ViewBag.Title</h2>
<p>Bienvenue sur votre interface de réservation</p>

<hr />

<!-- Partie qui va contenir les réservations en cours pour un utilisateur -->
<h3>Vos réservations</h3>

<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    <div class="panel panel-info">
        <div class="panel-heading" role="tab" id="headingOne">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Liste de vos <strong>Réservations</strong>
                </a>
            </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body">
                Vos réservation
            </div>
        </div>
    </div>
</div>


<!-- Partie ou un utilisateur peut effectuer une nouvelle réservation -->
<h3>Réserver</h3>

<div class="panel-group" id="accordion2" role="tablist" aria-multiselectable="true">
    <div class="panel panel-info">
        <div class="panel-heading" role="tab" id="headingTwo">
            <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                    Créer une nouvelle <strong>Réservation</strong>
                </a>
            </h4>
        </div>
        <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
            <div class="panel-body">
                <p>Pour ajouter une nouvelle réservation, cliquez sur le bouton <strong>Réserver</strong>...</p>

                @*<p align="center"><button type="button" class="btn btn-info" data-toggle="modal" data-target="#myModal" onclick="formulaire()"><strong>Réserver</strong></button></p>*@
                <p align="center"><button type="button" class="btn btn-info" data-toggle="modal" data-target="#myModal" onclick="ajouterReservation()"><strong>Réserver</strong></button></p>

                    <!-- Affichage du popup contenant le formulaire de réservation -->
                    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title" id="myModalLabel">Nouvelle réservation</h4>
                                </div>
                                <div class="modal-body" id="formulaire">
                                    Chargement du formulaire de réservation...                               
                                </div>
                                @*<div class="modal-footer">
                                    <button type="button" class="btn" onclick="ajouterReservation()">Ajouter une réservation</button>
                                    <button type="button" class="btn btn-danger" data-dismiss="modal">Annuler</button>
                                    <button type="button" class="btn btn-success">Valider</button>
                                </div>*@
                            </div>
                        </div>
                    </div>
              </div>
        </div>
    </div>
</div>

<script type="text/javascript">
     function ajouterReservation() {

         $.ajax({
             // Home ==> Contrôleur qui va chercher dans la fonction Create dans le contrôleur Ligne_resa
             url: "/Ligne_resa/Create",
             type: 'GET',
             // data représente les données retournées par le serveur
             success: function (data) {

                 $('#formulaire').html(data);
                 //$('#formulaire').append(data);
             }
         })
     }
</script>